@model Web_StoreGiay.Models.Order

<h2 class="text-center mb-4">Đặt Hàng Thành Công</h2>

<p>Cảm ơn bạn đã đặt hàng! Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất.</p>


<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay lại trang chủ</a>
<a href="@Url.Action("OrderHistory", "Cart")" class="btn btn-secondary">Xem lịch sử đơn hàng</a>
